body {
  justify-content: center; 
}
h1 {
  color: #2e7d32;
  text-align: center;
  margin-bottom: 30px;
  font-size: 24px;
}

form {
  background-color: #4f8a4f;
  padding: 20px;
  border-radius: 5px;
  margin: 0 auto 20px; 
  width: 90%;
  max-width: 800px; 
}

form input, 
form select,
form input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.task-list {
  width: 95%;
}

.task-item {
  padding: 20px;
  margin-bottom: 15px;
  border-radius: 5px;
  width: 100%;
}

.task-item.pending {
  background-color: #dd0b0b; 
  color: black; 
}

.task-item.in.progress { 
  background-color: #eb9d0c; 
}

.task-item.completed {
  background-color: #2e7d32; 
  color: white; 
} 
.task-item button {
  margin-left: 10px;
  padding: 8px 20px;
  font-weight: bold;
}